body{
    background-color: #F5F7F5;
}
.rt1{
    font-family: 'Paytone One' , sans-serif;
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 80px;
    color: #222222;
}
.rt2{
    font-family: 'Rubik' , sans-serif;
    font-size: 20px;
    position: absolute;
    top: 240px;
    left: 1280px;
    color: #222222;
}
.rcd1 {
    position: absolute;
    margin-top: 40px;
    left: 1030px;
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    align-items: center; /* Center align items horizontally */
}

.hello {
    position: absolute;
    text-align: center;
    background-color: #EEEEEE;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px; /* Adjusted padding */
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px; /* Adjusted margin-bottom */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 250px;
}

.hmm {
    position: absolute;
    text-align: center;
    background-color: #EEEEEE;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px; /* Adjusted padding */
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px; /* Adjusted margin-bottom */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 250px;
}

.content{
    position:absolute;
    top: 230px;
    left: 150px;
}
.content {
    position: absolute;
    top: 230px;
    left: 150px;
}

.box {
    height: 230px;
    width: 950px;
    background-color: rgba(208, 212, 202, 0.3);
    margin-bottom: 20px;
    position: relative;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center; /* Ensure content is vertically centered */
    justify-content: space-between; /* Space out items within the box */
    border-radius: 15px;
}

.image {
    height: 230px; /* Match the box height */
    width: 350px; /* Ensure the image doesn't overflow */
    margin-right: 10px;
    border-radius: 4px;
}

.title {
    color:#064927;
    font-family: 'Epilogue', sans-serif;
    font-size: 29px;
    margin-top: -110px;
    flex: 1; /* Allow the title to take remaining space */
}

.link {
    font-family: 'Fraunces', sans-serif;
    position: absolute;
    top: 190px;
    left: 820px;
    text-decoration: none;
    font-size: 18px; /* Adjust as needed */
    color: #064927; /* Link color */
}
.link i.bx {
    margin-left: 2px; /* Adjust the spacing between text and icon */
    font-size: 20px; /* Adjust the size of the icon */
    vertical-align: middle; /* Aligns the icon vertically with text */
    color: #325343; /* Icon color */
}
